@model ViewImageViewModel
<div b-wzwicsxrru class="container">
    <main b-wzwicsxrru role="main" class="pb-3">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="@Model.Image.Path" style="width: 800px;" />
                <br />
                <h3>Views: @Model.Image.ViewCount</h3>
            </div>
        </div>

    </main>
</div>